<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<irby:application xmlns='urn:irby:app' xmlns:irby='urn:irby:app' threads='6' loop='PT1S'>
    <realm enabled='true' name='Irby-Arwo' method='Basic' type='arwo' context='/arwo'/>
    <https11 enabled='true' name='tls-8443' port='8443' threads='12' keyStoreFile='server.pkcs12' keyStoreType='PKCS12' keyStorePass='irby' protocol='TLS'>
        <web-app enabled='true' path='/arwo' realm='Irby-Arwo'>
            <!--initialization-->
            <servlet enabled='true' path='/init/arwo/naming' class='io.github.greyp9.arwo.app.naming.servlet.NamingServlet' auth-constraint='*'/>
            <servlet enabled='true' path='/init/arwo/executor' class='io.github.greyp9.arwo.app.exec.servlet.ExecutorServlet' auth-constraint='*'/>
            <servlet enabled='true' path='/init/arwo/realm' class='io.github.greyp9.arwo.app.realm.servlet.RealmServlet' auth-constraint='*'/>
            <servlet enabled='true' path='/init/arwo/appLifecycle' class='io.github.greyp9.arwo.app.lifecycle.servlet.AppLifecycleServlet' auth-constraint='*'/>
            <servlet enabled='true' path='/init/arwo/daemon' class='io.github.greyp9.arwo.app.daemon.connect.servlet.ConnectionServlet' auth-constraint='*'/>
            <!--static resources-->
            <servlet enabled='true' path='' class='io.github.greyp9.irby.core.servlet.res.ResourceServlet' auth-constraint='*'>
                <init-param name='resource' value='webapp/arwo-war'/>
                <init-param name='index' value='index.html'/>
                <init-param name='.css' value='text/css'/>
                <init-param name='.html' value='text/html; charset=&quot;UTF-8&quot;'/>
                <init-param name='.ico' value='image/x-icon'/>
            </servlet>
             <!--configuration -->
            <servlet enabled='true' path='/users' class='io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet' auth-constraint='*'/>
            <servlet enabled='true' path='/filter' class='io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet' auth-constraint='*'/>
            <servlet enabled='true' path='/locale' class='io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet' auth-constraint='*'/>
            <servlet enabled='true' path='/fav' class='io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet' auth-constraint='*'/>
            <servlet enabled='true' path='/app' class='io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet' auth-constraint='*'/>
            <!--application overview-->
            <servlet enabled='true' path='/dash' class='io.github.greyp9.arwo.app.dash.servlet.DashServlet' auth-constraint='*'/>
            <!--local access-->
            <servlet enabled='true' path='/lfs' class='io.github.greyp9.arwo.app.local.servlet.LFSServlet' auth-constraint='*'/>
            <servlet enabled='true' path='/lsh' class='io.github.greyp9.arwo.app.local.servlet.SHServlet' auth-constraint='*'/>
        </web-app>
    </https11>
</irby:application>
